@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import url('https://fonts.googleapis.com/css?family=Material+Icons');

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #006;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

nav button {
  height: 50px;
  min-width: 100px;
  background-color: #006;
  color: white;
  font-size: 1em;
  outline: none;
}

#view {
  text-align: left;
}

.contact-card {
  border: 1px solid black;
  width: 300px;
  margin: 16px;
  padding: 10px;
}
